@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
  --font-size: 1.4rem;
  --margin: 2rem;
  --clr-link: #404040;
  --clr-ltgrey: #f2f2f2;
}

a,
.btn {
  cursor: pointer;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.container {
  transform: translateY(-20vh);
  top: 25%;
  height: 30vh;
  display: grid;
  place-items: center;
}

.container .search-input {
  display: flex;
  place-items: center;
}

.container .search-input .search-bar {
  height: 35px;
  width: 450px;
  border: 0.25px solid #b8b8b8;
  border-radius: 25px;
  outline: none;
}

.container .search-input .search-bar .search-window {
  font-size: var(--font-size);
  position: relative;
  top: 0px;
  left: 30px;
  height: 100%;
  width: 390px;
  border: none;
  background-color: none transparent;
  outline: none;
}

.container .search-input .search-bar .search-window::placeholder {
  text-align: center;
}

.container .search-input .search-icon {
  position: absolute;
  display: grid;
  place-items: center;
  height: 20px;
  width: 20px;
}

.container .search-input .glass {
  position: relative;
  left: 30px;
  color: #7c7b7b;
}

.container .search-input .mic {
  position: relative;
  right: 30px;
  color: #7c7b7b;
}

.container .btns .search-btn,
.container .btns .lucky-btn {
  padding: 0.5rem 0.65rem;
  margin: -1rem 0.5rem;
  background: var(--clr-ltgrey);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size);
  border: none;
  outline: none;
  border-radius: px;
}

.container .btns .search-btn:hover,
.container .btns .lucky-btn:hover {
  box-shadow: 0px 2px 2px #d8d8d8;
}

header {
  font-family: "Open Sans", sans-serif;
  margin: var(--margin);
  display: grid;
  height: 50px;
  font-size: var(--font-size);
  text-align: center;
}

header .profile {
  border-radius: 25px;
  position: absolute;
  bottom: -2.8rem;
  display: inline-block;
}

header .links {
  margin: auto var(--margin);
  display: inline;
}

header .links .left-links {
  position: relative;
  left: 0;
}

header .links .left-links ul {
  display: inline;
  float: left;
}

header .links .left-links ul li a {
  margin-right: var(--margin);
  color: var(--clr-link);
  font-size: var(--font-size);
}

header .links .left-links ul li a .txt-links {
  font-family: "Open Sans", sans-serif;
}

header .links .right-links {
  position: relative;
  right: 0;
}

header .links .right-links ul {
  display: inline;
  float: right;
  margin-right: var(--margin);
}

header .links .right-links ul li a {
  margin-right: 1rem;
  color: #404040;
}

footer {
  font-family: "Open Sans", sans-serif;
  display: grid;
  position: absolute;
  font-size: var(--font-size);
  color: var(--clr-link);
  background: var(--clr-ltgrey);
  bottom: 0;
  height: 100px;
  width: 100%;
  padding: 2rem;
}

footer ul {
  display: inline-block;
  float: left;
}

footer ul li a {
  color: var(--clr-link);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size);
  margin-right: 1rem;
}

footer ul li a .txt-links {
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */